---
import ShelkovoAreaIcon from '../ShelkovoAreaIcon.astro';
import LinkWithIcon from '@shelkovo/ui/LinkWithIcon.astro';

import type { StatusIncident } from '../../lib/status/types';
import StatusIncidentPeriod from './StatusIncidentPeriod.astro';

interface Props {
  readonly incident: StatusIncident;
  readonly className?: string;
}

const { incident, className } = Astro.props;

const sourceUrl = incident.sourceUrl;
---

<div
  class:list={[
    'flex flex-wrap items-center gap-x-2.5 gap-y-2 text-sm leading-6 text-muted-foreground',
    className,
  ]}
>
  <StatusIncidentPeriod incident={incident} />

  {
    !incident.appliesToAllAreas &&
      incident.areas.map((area) => <ShelkovoAreaIcon area={area} />)
  }

  {sourceUrl && <LinkWithIcon href={sourceUrl} ariaLabelPrefix="Источник" />}
</div>
